services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    restart: unless-stopped
    depends_on:
      - postgres

  migrate:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: build
    container_name: ef_migrate
    environment:
      ConnectionStrings__Default: Host=postgres;Port=5432;Database=postgres;Username=admin;Password=admin123
    depends_on:
      - postgres
    command: >
      dotnet ef database update
      --project ./backend.csproj
      --connection "Host=postgres;Port=5432;Database=postgres;Username=admin;Password=admin123"
    working_dir: /src

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: aspnet_api
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTP_PORTS: "8080"
      ConnectionStrings__Default: Host=postgres;Port=5432;Database=postgres;Username=admin;Password=admin123
    volumes:
      - ./backend/logs:/app/Logs
    depends_on:
      migrate:
        condition: service_completed_successfully

  client:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_client
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  postgres_data:
  pgadmin_data:
